/* Table.module.css */
.container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
}